/* This file centralizes the look and feel: Animations, colors, fonts/graphic styles, borders, sizes, and placements subject to customisation.

/* Sizes and placements */

.v-player-controls-bar {
    height: 50px;
}

.v-player-slider {
    height: 50px;
    margin: 0 20px;
}

.v-player-slider-track {
    margin: 20px 0;
    height: 10px;
}

.v-player-slider-handle {
    height: 30px;
    width: 30px;
}

.v-player-button, .v-player-toggle-button, .v-player-drop-up-selector {
    width: 50px;
    height: 50px;
}

.v-player-timeline {
    flex-grow: 3;
}

.v-player-time-display {
    font-size: 12px;
}

.v-player-time-display span {
    display: block;
}

.v-player-volume {
    max-width: 200px;
    min-width: 100px;
    flex-grow: 1;
    flex-shrink: 2;
}

.v-player-volume-slider {
    flex-grow: 1;
    flex-shrink: 1;
}

/* Colors */

.v-player-controls-bar {
    background-color: rgba(32,32,32,0.5);
    color: white;
}


.v-player-slider-track {
    background-color: #ccc;
}

.v-player-slider-handle {
    background-color: rgba(32,32,32,0.5);
}

/* Graphical appearance */
.v-player-slider-handle:active {
    cursor: grabbing;
}

.v-player {
    font-family: sans-serif;
}