.replay-slider {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.replay-slider-track {
    position: relative;
}

.replay-slider-handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}