.replay-ui-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.replay-aspect-ratio-fix {
    position: relative;
    max-height: 100vh;
}

.replay-aspect-ratio-fix::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
    pointer-events: none;
}
