
.replay {
    font-size: 12px;
}

.replay-controls-bar {
    height: 50px;
    padding: 0 10px;
    text-align: center;
}

.replay-slider {
    height: 50px;
    margin: 0 10px;
}

.replay-slider-track {
    margin: 24px 0;
    height: 2px;
}

.replay-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 8px;
}

.replay-button, .replay-toggle-button, .replay-selector {
    width: 40px;
    height: 50px;
}

.replay-button svg, .replay-toggle-button svg {
    margin-top: 2px;
}

.replay-selector-items {
    position: absolute;
    bottom: 50px;
    padding-top: 5px;
    transform: translateX(-50%);
    left: 50%;
    visibility: hidden;
}

.replay-selector:hover .replay-selector-items, .replay-expanded .replay-selector-items {
    visibility: visible;
}

.replay-selector-item > div {
    padding: 5px 15px;
    font-size: 14px;
    text-align: left;
}

.replay-selector-item.replay-selected {
    font-weight: bold;
    color: white;
}

.replay-timeline {
    flex-grow: 3;
}

.replay-timeline-information .replay-timeline-tooltip {
    bottom: 100%;
    padding: 3px 8px;
    transform: translateX(-50%);
}

.replay-time-display {
    margin: 0 10px;
    font-size: 10px;
}

.replay-time-display span {
    display: block;
}

.replay-time-display span:nth-child(2) {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 1px solid;
}

.replay-volume {
    max-width: 200px;
    min-width: 100px;
    flex-grow: 1;
    flex-shrink: 2;
}

.replay-mute-toggle {
    margin-right: -5px;
}

.replay-volume-slider {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 15px;
}

.replay-skip-button {
    position: relative;
    font-size: 7px;
}

.replay-skip-button span {
    margin-top: -2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.replay-skip-button span svg {
    margin-top: 0;
}

/*
.replay-goto-live-button {
    min-width: 50px;
    width: auto;
    padding: 0 10px;
}

.replay-goto-live-button span:first-child {
    margin-right: 5px;
}

*/

.replay-buffering-indicator {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.replay-is-fullscreen .replay-buffering-indicator {
    height: 100px;
    width: 100px;
}

.replay-buffering-indicator.replay-buffering {
    visibility: visible;
}

.replay-exit-button {
    top: 2%;
    right: 1%;
    position: absolute;
    opacity: 1;
}

.replay-is-fullscreen .replay-exit-button, .replay-is-user-inactive .replay-exit-button {
    visibility: hidden;
    opacity: 0;
}

.replay-playback-monitor {
    top: 3%;
    bottom: 60px;
    left: 6%;
    right: 6%;
    font-size: 10px;
    transition: bottom 0.3s;
}

/*.replay-is-user-inactive .replay-playback-monitor {
    bottom: 3%;
    transition-delay: 0.4s;
}*/

.replay-playback-monitor td, .replay-playback-monitor th {
    padding: 2px 8px;
}

.replay-playback-monitor-stream-state {
    top: 0.5em;
}

td.replay-playback-monitor-current-value {
    max-width: 160px;
}

td.replay-playback-monitor-previous-value {
    max-width: 160px;
}
