.replay-video-streamer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    display: inline-block;
    vertical-align: baseline;
} 