.App {
  text-align: center;
  margin-top: 0.5em;
}

.App-player-panel {
  width: 60%;
  margin: 0 auto;
}

.App-player-panel .replay-mock-video-streamer {
    text-align: center;
}

.App-player-panel input[type=url] {
  width: 100%;
  box-sizing: border-box;
}

.App-player-panel p {
  margin: 0.5em 0;
}

.App-player-panel .button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
